.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 14px; 
  color: var(--color-white);
}
.group {
  width: 159px;
  height: 205px;
  border-radius: 10px;
  background-color: var(--color-white);
  margin-bottom: 6px;
}
.image {
  width: 159px;
  height: 170px;
  border-radius: 10px 10px 0px 0px;
}
.followerButton {
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 10px;
  background-color: var(--color-black);  
  color: var(--color-white);
  margin: 1px;
}
